* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  background: linear-gradient(rgb(0, 254, 208), rgb(106, 221, 124));
  background-attachment: fixed;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: auto;
}
.wrapper {
  margin: 3.5rem;
  min-height: 70vh;
  border: 18px solid white;
  border-radius: 35px;
  padding: 4.5rem;
}
.account {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.notification {
  margin-left: 6rem;
  max-width: 50vh;
  text-align: center;
}

h1,
h2,
h3 {
  color: white;
}
h1 {
  font-size: 6.5rem;
  margin-top: -1.5rem;
}
h2 {
  padding-top: 0.7rem;
  font-size: 3.5rem;
}
h3 {
  font-size: 1.2rem;
  text-align: left;
  padding-top: 4rem;
}
.user {
  background: white;
  height: 48vh;
  width: 88vh;
  border-bottom-left-radius: 35px;
  margin-top: -4.5rem;
  margin-right: -4.5rem;
  display: flex;
  justify-content: center;
}
img {
  height: 270px;
  margin: auto;
}
@media (max-width: 1336px) {
  .wrapper {
    border: 8px solid white;
    border-radius: 20px;
    margin: 1.7rem;
    padding: 0;
  }
  .user {
    margin: 0;
    border-radius: 0;
    height: 26vh;
    padding-bottom: 0.4rem;
  }
  img {
    height: 160px;
  }
  .notification {
    padding-top: 3.5rem;
    margin: 0 1.5rem;
  }
  h1,
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    padding: 1rem;
    font-size: 0.95rem;
  }
}
